section.startbootstrapsection{
    .container{
        button{
            background-color: white;
         
            height: 48px;
            border: none;
            border-radius: 30px;
            font-size: 14px;
            font-weight: bold;
            
        }
    }
}