* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formcst {
  display: flex;
  gap: 15px;
  margin: 20px;
  justify-content: center;
}
.formcst input {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  background-color: bisque;
  border: none;
}
.formcst button {
  width: 100px;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: 18px;
  border: none;
}

.country {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 14px;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: yellow;
}
.country img {
  width: 395px;
  height: 200px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  border-bottom: 2px solid black;
  font-weight: bold;
}

.ad {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}