*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    .one{
        display: flex;
        gap: 50px;
        margin-bottom: 40px;
    }
}
