.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

#startednow {
    background-image: url(../images/server-banner.jpg.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;

    .container {
        width: 100%;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .box1 {
                background-color: red;
                width: 300px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 30px;
            }

            .triangle-down {

                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-top: 50px solid red;
                position: absolute;
                top: 120%;
                right: 50%;

            }
        }

        .start {
            display: flex;

            .text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 30px;

                .list4 {
                    display: flex;
                    gap: 20px;

                    .list2 {
                        ul {
                            li {
                                display: flex;

                                a {
                                    color: white;

                                    i {
                                        width: 20px;
                                        aspect-ratio: 1/1;
                                        border-radius: 50%;
                                        border: 1px solid white;
                                        font-size: 15px;
                                        color: white;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }

                }

                h1 {
                    color: white;
                    font-size: 56px;
                }

                h2 {
                    color: white;
                    font-size: 30px;
                }

                h5 {
                    color: white;
                    font-size: 20px;
                }

            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #startednow {
        .container {
            width: 100%;

            .start {
                display: flex;
                flex-direction: column;

                .text {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    position: relative;
                    top: 30px;

                    .list4 {
                        display: flex;
                        flex-direction: column;
                    }

                    .list2 {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

#services {
    .container {
        width: 100%;

        .ourservice {
            .servicetext {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;

                h1 {
                    font-size: 56px;
                }

                hr {
                    width: 100px;
                }

                p {
                    text-align: center;
                    max-width: 800px;
                }
            }

            .servicepost {
                position: relative;
                top: 30px;
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 30px;

                .icons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    p {
                        font-size: 22px;

                    }

                    span {
                        font-size: 18px;
                        color: rgb(141, 138, 138);
                    }
                }
            }
        }
    }
}

.image{
    max-width: 60px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  

    
    #services {
        .container {
            width: 100%;

            .ourservice {
                .servicetext {
                    h1 {
                        font-size: 40px;
                    }
                }

                .servicepost {
                 
                     display: grid;
                    grid-template-columns: auto auto;

                }
            }
        }
    }
}

#happyclient{
    background-color: #7db9e8;
    position: relative;
    top: 50px;
    color: white;
    .container{
        width: 100%;
        .client{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            h1{
font-size: 56px;
            }
            hr{
            width: 100px;
            }
            p{
                font-size: 24px;
            }
        }
        .emoji{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            gap: 70px;
            .emojione{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                i{
                    width: 90px;
                    aspect-ratio: 1/1;
                    border: 1px solid white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 60px;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-size: 30px;
                    }
                   
                }
            }
        }
    }
}


#latestnews{
    position: relative;
    top: 70px;
    .container{
        width: 100%;
        .latest{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            h1{
                font-size: 56px;
            }
            hr{
                width: 100px;
            }
            p{
                text-align: center;
                max-width: 700px;
                width: 100%;
            }
        }
.cardnews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
 
        .news{
            display: flex;
            flex-direction: column;
            gap: 30px;
            border: 1px solid black;
            max-width: 362px;
            width: 100%;
            
            p{
                font-size: 24px;
                color: black;
            }
            span{
                padding: 10px;
                font-size: 20px;
            }
        }
    }
    }
}