* {
  font-family: "Arial", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
section .quiz {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

body {
  background-color: blanchedalmond;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

#formcst {
  background-color: rgb(231, 139, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#formcst input {
  width: 300px;
  height: 35px;
  border-radius: 10px;
}

button {
  width: 60px;
  height: 30px;
  border: none;
  background-color: brown;
  color: white;
  border-radius: 8px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-color: lightskyblue;
  color: white;
  border-radius: 10px;
}

.sorgu {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
}

.sorgu:hover {
  background-color: blue;
}