#startednow{
    .container{
        .start{
            .text{
                button{
                    width: 200px;
                    height: 48px;
                    border: none;
                    background-color: orange;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}